SERVICE_PORT=5002
ENCODINGS_PATH=encodings.pickle
BACKEND_API_BASE=http://127.0.0.1:8080/api
FACE_CLASS_CODE=INT3306
FACE_MODE=checkin
FACE_REPORT_COOLDOWN=60
FACE_API_TOKEN=
STREAM_ENABLED=1
STREAM_USE_OPENCV=0
STREAM_CAMERA_INDEX=0
STREAM_FRAME_WIDTH=640
STREAM_FRAME_HEIGHT=480
